body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}


.app-body {
    display: flex;
    height: calc(100vh - 80px);
    margin-top: 70px;
}

.sidebar {
    width: 220px;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    height: calc(100vh - 70px);
    background: #f5f5f5;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.app-content {
    margin-left: 220px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 20px;
}