* {
    outline-color: tomato;
}

.add {
    width: 70%;
    margin-top: 50px;
    margin-left: max(5vw, 25px);
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-img-upload {
    width: 120px;
}


.add-img-upload img {
    cursor: pointer;
    width: 150px;
    border: none;
    border-radius: 5px;
}

.add-product-name,
.add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: 150px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}