.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    display: grid;
}


.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    outline: none;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    gap: 5px;
    align-items: start;
    align-items: center;
}

/* .login-popup-condition input::-webkit-input-placeholder {
    background-color: tomato;
} */


.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}