.header {
    height: 34vw;
    margin: 30px 0;
    background: url('../../assets/header_img.png')no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5vw;
    align-items: start;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in;
}

.header-contents h2 {
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    font-size: 1vw;
    color: #fff;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.2vw;
    background: #fff;
    font-size: max(1vw, 10px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header {
        height: 38vw;
    }

    .header-contents {
        max-width: 45%;
    }

    .header-contents button {
        margin-bottom: 1rem;
    }
}

@media (max-width:750px) {

    .header-contents {
        max-width: 65%;
    }


    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 1.7vw 2.2vw;
        margin-bottom: 1rem;
    }
}