.list {
    width: 90%;
}

.list-table-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
}

.list-table-format img {
    width: 150px;
    height: 100px;
}

@media (max-width:1200px) {
    .list-table-format {
        grid-template-columns: 1.5fr 2fr 1fr;
        gap: 13px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .list-table-format img {
        width: 110px;
        height: 90px;
    }

}