.list-table-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
}

.list-table-format img {
    width: 150px;
    height: 100px;
}

@media (max-width:1200px) {
    .list-table-format {
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
        margin-top: 5px;
    }
}