.verify {
    min-height: 60vh;
    display: grid;
}

.spinner {
    width: 100px;
    height: 100px;
    place-self: center;
    border-radius: 50%;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    animation: rotate 1s infinite cubic-bezier(0, 0, 0.49, 0.46);

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}